#!/usr/bin/env python
# encoding: utf-8
"""
_sg_apikeys.py

***THE CONTENTS OF THIS FILE MUST NOT BE SHARED***

Returns shotgun script keys for use in scripts
Created by Jack James on 2014-12-09.

"""


def getkey(scriptname):
    keys = {
        "sg_barcode":"",
    }
    if scriptname in keys:
        return keys[scriptname]

    